.jumbotron h1
  color red
  font 70px Tahoma, Helvetica, Arial, sans-serif

.mynavspacer
  height 70px
  
.mybottomspacer
  height 30px
  
.myerrorspacer
  height 30px
  
.mysmallspacer
  height 5px
  
.uppercase
  text-transform uppercase
  
.textright
  text-align right

.textcentre
  text-align center
  
tr.drillable, span.clickable
  cursor pointer
  
p.input-group
  margin 0px
  
a.navbar-brand
  padding 0px
  
.container.navbar-container
  padding 0px 5px
  
footer.navbar-default.navbar-fixed-bottom
  padding 5px 0
 
.checkbox input[type=checkbox]
  height 20px
  width 20px
  margin 0px
  
label.checkbox
  margin-bottom 0px
  padding-top 7px
  
.iqx-input-group
  width 100%
  
.iqx-multi-select
  height auto
  min-height 34px
  cursor pointer

.iqx-multi-select[disabled]
  cursor pointer
  
 