include ./standard-blocks.jade

+Container
  +MiniForm
    +FormField('password','OldPassword','Old Password',{'required':true},{'ng-if':'!forceChangePassword'})
    +FormField('password','NewPassword','New Password',{'required':true, 'Zenforce-password-strength':true})
    +FormField('password','RepeatPassword','Repeat Password',{'required':true, 'match-field':'theRecord.NewPassword'})
    +FormError
    +FormButtonGroup
      +FormButton('Save',{'ng-click':'save()'})      
      +FormButton('Cancel',{'ng-click':'home()'},{'ng-if':'!forceChangePassword'})
      