div(ng-message='required') This field is required
div(ng-message='minlength') This field is too short
div(ng-message='maxlength') This field is too long
div(ng-message='email') This email address is invalid
div(ng-message='url') This URL is invalid
div(ng-message='parse') This field is invalid
div(ng-message='pattern') This field is invalid
div(ng-message='ukDate') This date is invalid - enter dd/mm/yyyy
div(ng-message='date') This date is invalid
div(ng-message='time') This time is invalid
div(ng-message='number') This number is invalid
div(ng-message='min') This number is too small
div(ng-message='max') This number is too large
div(ng-message='matchField') This must match the previous entry
div(ng-message='passwordStrength') This password is too weak. Must be at least 8 characters and include digits, capitals and punctuation
