div(ng-message='required') File not selected
div(ng-message='pattern') This type of file is not allowed
div(ng-message='maxSize') This file is too large - maximum 2 megabytes
div(ng-message='minSize') This file is too small
div(ng-message='maxHeight') The height of this image is too large
div(ng-message='minHeight') This height of this image is too small
div(ng-message='maxWidth') The width of this image is too large
div(ng-message='minWidth') The width of this image is too small
div(ng-message='ratio') The aspect ratio of this image is unacceptable
div(ng-message='maxDuration') This audio or video file is too long
div(ng-message='minDuration') This audio or video file is too short
