.modal-header
  h3.modal-title {{ xModal.title }}
.modal-body {{ xModal.text }}
.modal-footer
  button.btn.btn-primary(ng-click="$close(true)") {{ xModal.yesText }}
  button.btn.btn-warning(ng-if="xModal.noText", ng-click="cancel()") {{ xModal.noText }}
