include ./standard-blocks.jade

.container(ng-show='!wasSent')
  p.text-info.textcentre Please enter your registered email address to request a password reset
  +MiniForm
    +FormField('email','login_email','Email Address',{'required':true})
    +FormError
    +FormButtonGroup
      +FormButton('Submit',{'ng-click':'save()'})      
      +FormButton('Cancel',{'ng-click':'home()'})
.container(ng-show='wasSent')
  .panel.panel-primary.textcentre
    .panel-body
      p You will receive a new password by Email
      +FormButton('Ok',{'ng-click':'home()'})