include ./standard-blocks.jade

.container-fluid
  h3 Timesheet {{ timesheet.serialnumber }} 
  h4 {{ timesheet.position }} at {{ timesheet.companyname }}
  
  table.table.table-striped(ng-show='shiftTimesheet')
    thead
      tr
        th Shift Date
        th From
        th To
        th.textright Break
        th.textright Hours
    tbody
      tr(ng-repeat='shift in timesheetShifts')
        td {{ shift.shiftdate | date:'EEE dd/MM/yy' }}
        td {{ shift.timefrom }}
        td {{ shift.timeto }}
        td.textright {{ shift.breakminutes }}
        td.textright {{ shift.shiftduration | number:2 }}
          
  table.table.table-striped(ng-show='timeTimesheet')
    thead
      tr
        th Date
        th From
        th.textright Hours
    tbody
      tr(ng-repeat='shift in timesheetTimes')
        td {{ shift.shiftdate | date:'EEE dd/MM/yy' }}
        td {{ shift.timefrom }}
        td.textright {{ shift.hours | number:2 }}
        
  table.table.table-striped
    thead
      tr
        th Pay Type
        th Unit
        th.textright Units
        th.textright Rate
        th.textright Total
    tbody
      tr(ng-repeat='rate in timesheetRates')
        td {{ rate.BandDescription }}
        td {{ rate.UnitDescription }}
        td.textright {{ rate.Units | number:2 }}
        td.textright {{ rate.Rate | number:2 }}
        td.textright {{ rate.Total | number:2 }}
        
  +FormError
  +FormButtonGroup
    +FormButton('Back',{'ng-click':'back()'})
        
