include ./standard-blocks.jade

.container-fluid
  table.table.table-striped
    thead
      tr
        th Number
        th(ng-if="userClass()!='CANDIDATE'") Temp
        th(ng-if="userClass()!='CLIENT'") Client
        th Position
        th End Date
    tbody
      tr.drillable(ng-repeat='timesheet in theRecords', ng-click='expandTimesheet(timesheet.temptimesheetid)')
        td {{ timesheet.serialnumber }}
        td(ng-if="userClass()!='CANDIDATE'") {{ timesheet.tempname }}
        td(ng-if="userClass()!='CLIENT'") {{ timesheet.companyname }}
        td {{ timesheet.position }}
        td {{ timesheet.weekenddate | date:'dd/MM/yyyy' }}

  .col-xs-12.text-danger(ng-if='formError') {{ formError }}
  +Pager
  
